<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-sm-10 col-md-4 offset-1">
                <div class="row">
                    <div class="col-12 listing-image">
                        <img src="<%= listing.image %>" alt="">
                    </div>
                    <div class="col-5 offset-1">
                        <button type="button" class="btn btn-outline-primary" style="width: 80%;">Book Now</button>
                    </div>
                    <div class="col-6" style="padding-top: 0.5rem;">
                        <h6>Price :  <i><span>  &#8377</span><%= listing.price.toLocaleString("en-IN") %> /night</i></h6>
                    </div>
                </div>
                <div class="mt-5 row">
                    <h4>Reviews</h4>
                    <%for(review of listing.reviews){%>
                        <div class="card col-5 offset-1 mt-1">
                            <div class="card-header">
                                Jane DOE
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><%=review.content%></h5>
                              <p class="card-text"><%=review.rating%> Stars</p>
                            </div>
                            <div class="offset-1">
                            <form  method="POST"  action="/listings/<%= listing.id %>/review/<%= review.id %>?_method=DELETE">
                                <button class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
            <div class="col-sm-10 col-md-5 offset-1">
                <div class="row ">
                    <div class="col-12" style="margin-top: 3.5rem">
                        <h2>
                            <%= listing.title %>
                        </h2>
                    </div>
                    <div class="col-12" style="margin-top: 0.5rem">
                        <h6>
                            <i><%= listing.location %>,<%= listing.country %></i>
                        </h6>
                    </div>
                    <div class="col-12" style="margin-top: 2rem">
                        <p>
                            <%= listing.description %>
                        </p>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-5 offset-1">
                            <form action="/listings/<%= listing.id %>/edit">
                                <button type="submit" class="btn btn-outline-warning" style="width: 80%;">Edit</button>
                            </form>
                        </div>
                        <div class="col-5 offset-1">
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-outline-danger" style="width: 80%;">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <h4>Enter Your Review</h4>
                    <form method="post" action="/listings/<%= listing.id %>/review" novalidate class="needs-validation">
                        <label for="Rating" class="form-label">Rating</label>
                        <input type="range" name="review[rating]" id="Rating" min="1" max="5" class="form-range">
                        <label for="Content" class="form-label mt-2">Comments</label>
                        <textarea name="review[content]" id="Content" cols="30" rows="10" required class="form-control"></textarea>
                        <button class="btn btn-outline-primary mt-2" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </body>